<div class="card">
  <a href="/register"
    ><img src="<%= data.img %>" alt="Denim Jeans" style="width: 100%" />
    <h3><%= data.Name %></h3>
    <p class="price"><%= data.Price %></p>
    <p><%= data.Discription %></p></a
  >

  <p><button>Buy Now</button></p>
  <p><button>Add to Cart</button></p>
</div>
