<!-- Load font awesome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- The navigation menu -->
<div class="sidenavbar">
  <a href="">A-Z</a>
  <div class="subnav">
    <button class="subnavbtn">
      Another Categories<i class="fa fa-caret-down"></i>
    </button>
    <div class="subnav-content">
      <a href="">Categorie 01</a>
      <a href="">Categorie 02</a>
      <a href="">Categorie 03</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Services <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="">Bring</a>
      <a href="">Deliver</a>
      <a href="">Package</a>
      <a href="">Express</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="">Link 1</a>
      <a href="">Link 2</a>
      <a href="">Link 3</a>
      <a href="">Link 4</a>
    </div>
  </div>
  <a href="">Contact</a>
</div>
