* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.body {
  background-color: azure;
}
.allProduct {
  background-color: azure;
}
/* Style the counter cards */
.card {
  box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.cardBody * :hover {
  box-shadow: 10px 10px 10px 0 rgba(14, 2, 3, 0.2);
  border: 5px solid rgba(255, 255, 255, 0.308);
}

.price {
  color: rgb(117, 19, 19);
  font-size: 22px;
}

.card button {
  border-radius: 25px;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  color: rgb(4, 7, 27);
}

.card button:hover {
  opacity: 0.7;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin-bottom: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.appfooter {
  left: 0;
  bottom: 0;
  margin-top: -50px;
  width: 100%;
  background-color: rgb(21, 23, 26);
  color: white;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
